body {
  background-color: #282c34;
}

.App {
  justify-items: center;
}

.App-component {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 12px;
  
  justify-content: center;
  align-content: start;
  
  width: 400px;
  margin: 12px auto;
}

.App-field {
  font-size: calc(10px + 1vmin);
  color: white;
  text-align: right;
}

.App-input {
  font-size: calc(10px + 1vmin);
  color: white;
  text-align: left;
}

input[type=text] {
  width: 250px;
  height: calc(12px + 1vmin);
  font-size: calc(10px + 1vmin);
}

input[type=number] {
  width: 250px;
  height: calc(12px + 1vmin);
  font-size: calc(10px + 1vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
