body {
  background-color: #282c34;
}

.App {
  justify-items: center;
}

.App-component {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 12px;
  
  justify-content: center;
  align-content: start;
  
  width: 600px;
  margin: 12px auto;
}

.App-subcomponent {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 12px;

  background-color: #4d4b50;
  
  justify-content: center;
  align-content: start;
  
  width: 500px;
  margin: auto;
  padding: 10px;
}

.App-field {
  font-size: calc(10px + 1vmin);
  color: white;
  text-align: right;
}

.App-input {
  font-size: calc(10px + 1vmin);
  color: white;
  text-align: left;
}

input[type=text] {
  width: 250px;
  height: calc(12px + 1vmin);
  font-size: calc(10px + 1vmin);
}

input[type=number] {
  width: 250px;
  height: calc(12px + 1vmin);
  font-size: calc(10px + 1vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
